.container
  .task_header
    %h2= @task.title
    .task_header_detail
      %div
        - if user_signed_in? && current_user.has_task_written?(@task)
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
            .dropdown-content.mini
              = link_to 'Edit', edit_board_task_path(board_id: @task.board_id, id: @task.id)
              = link_to 'Delete', board_task_path(board_id: @task.board_id, id: @task.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
.container
  - if @task.eyecatch.attached?
    .task_image
      = image_tag @task.eyecatch
.task
  .task_content
    %p= @task.content
.container
  %h2 Comment
- @comments.each do |comment|
  .comment
    .comment_detail
      = image_tag comment.user.avatar_image
    .comment_content
      %p= comment.content
.container
  = link_to new_board_task_comment_path(board_id: @task.board_id, task_id: @task.id) do
    .float_btn
      %i.fa.fa-plus  Add new comment