.container
  %h2 All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_image
          = image_tag 'eyecatch1.png'
        .card_content
          .card_title
            = board.title
          .card_heart
            = image_tag 'heart.svg'
            %span 23
          .card_detail
            = image_tag 'default-avatar.png'
            %div
              - if board.user.present?
                %p= board.user.display_name
              %p= board.display_created_at
  = link_to new_board_path do
    .float_btn
      %i.fa.fa-plus  Add new borad
