.container
  %h2= @board.title
- @tasks.each do |task|
  .board
    %h1.board_title= task.title
    .board_content
      %p= task.content
    .board_detail
      = image_tag @board.user.avatar_image
    .board_heart
      = image_tag 'message-square-outline.svg'
.container
  = link_to new_board_task_path(@board) do
    .float_btn
      %i.fa.fa-plus  Add new card
